header {
  grid-area: MH;

  background-color: white;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 10%;
}
header > div > a {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: rgb(31, 29, 29);
}
header > div {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.logo {
  width: 16rem;
}
