.title {
  margin: 2rem 0;
  font-size: 2.2rem;
  color: var(--text);
  width: 100%;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title::before,
.title::after {
  content: "";
  width: 40%;
  height: 0.2rem;
  background-color: #b9b4c5;
  position: absolute;
}

.title::before {
  left: 0;
}

.title::after {
  right: 0;
}

.cardrow {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.6rem;
  margin-bottom: 3rem;
}
#logo-lacoste {
  width: 11rem;
  
}
#logo-nike {
  width: 10rem;
 
}
#logo-adidas {
  width: 9rem;

}
#logo-puma {
  width: 11rem;
}
